#screenShotContainer {
  position: absolute;
  top: 0;
  left: 0;
  cursor: crosshair;
}

#toolPanel {
  min-width: 392px;
  //height: 24px;
  background: #ffffff;
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 0;
  //padding: 10px;
  //height: 48px;
  padding: 6px 12px;
  box-sizing: content-box;
  border-radius: 8px;
  cursor: pointer;
  .item-panel {
    width: 31px;
    height: 31px;
    border-radius: 4px;
    margin-right: 12px;
    float: left;

    &:last-child {
      margin-right: 0;
    }
    &:hover{
      background-color: #EEEFF1;
    }

    &:active {
      background-color: #E5E6EB;
    }
    &.active{
      background-color: #E5E6EB;
    }
  }

  .remark {
    background: url("~@/assets/img/remark.png") no-repeat center;
    background-size: auto;
  }
  .square {
    background-image: url("~@/assets/img/square.png");
    background-size: cover;

    &:hover {
      background-image: url("~@/assets/img/square-hover.png");
    }

    &:active {
      background-image: url("~@/assets/img/square-click.png");
    }
  }
  .square-active {
    background-image: url("~@/assets/img/square-click.png");
  }

  .round {
    background-image: url("~@/assets/img/round.png");
    background-size: cover;

    &:hover {
      background-image: url("~@/assets/img/round-hover.png");
    }

    &:active {
      background-image: url("~@/assets/img/round-click.png");
    }
  }
  .round-active {
    background-image: url("~@/assets/img/round-click.png");
  }

  .right-top {
    background-image: url("~@/assets/img/right-top.png");
    background-size: cover;

    &:hover {
      background-image: url("~@/assets/img/right-top-hover.png");
    }

    &:active {
      background-image: url("~@/assets/img/right-top-click.png");
    }
  }
  .right-top-active {
    background-image: url("~@/assets/img/right-top-click.png");
  }

  .brush {
    background: url("~@/assets/img/brush.png") no-repeat center;
    background-size: auto;
  }
  .brush-active{
    background-color: #E5E6EB;
  }

  .mosaicPen {
    background-image: url("~@/assets/img/mosaicPen.png");
    background-size: cover;

    &:hover {
      background-image: url("~@/assets/img/mosaicPen-hover.png");
    }

    &:active {
      background-image: url("~@/assets/img/mosaicPen-click.png");
    }
  }
  .mosaicPen-active {
    background-image: url("~@/assets/img/mosaicPen-click.png");
  }

  .separateLine {
    width: 1px;
    background: #D9DCE2;
    border-radius: 4px;
    height: 24px;
    margin: 4px 6px 0 0;
  }

  .text {
    background: url("~@/assets/img/text.png") no-repeat center;
    background-size: auto;
  }
  .text-active {
    background-color: #E5E6EB;
  }

  .save {
    background-image: url("~@/assets/img/save.png");
    background-size: cover;

    &:hover {
      background-image: url("~@/assets/img/save-hover.png");
    }

    &:active {
      background-image: url("~@/assets/img/save-click.png");
    }
  }

  .panel-icon{
    //width: 64px;
    //height: 36px;
    width: 56px;
    height: 31px;
    border-radius: 8px;
    line-height: 31px;
    text-align: center;
    color:#fff;
  }
  .panel-close{
    background: #FF543A;
    &:hover{
      background: #FF6952;
    }
    &:active{
      background: #EB4F37;
    }
  }
  .panel-confirm{
    background: #24C366;
    &:hover{
      background: #3AD47A;
    }
    &:active{
      background: #23B660;
    }
  }

  .close {
    //background-image: url("~@/assets/img/close.png");
    //background-size: cover;
    //
    //&:hover {
    //  background-image: url("~@/assets/img/close-hover.png");
    //}
  }

  .undo-disabled {
    background-image: url("~@/assets/img/ifly-undo.png");
    opacity: .4;
    cursor: not-allowed;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
  }

  .undo {
    background-image: url("~@/assets/img/ifly-undo.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
  }

  .redo-disabled {
    background-image: url("~@/assets/img/ifly-redo.png");
    opacity: .4;
    cursor: not-allowed;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
  }

  .redo {
    background-image: url("~@/assets/img/ifly-redo.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
  }

  .confirm {

  }
}

.__screenshot-lock-scroll {
  margin: 0;
  height: 100% !important;
  overflow: hidden !important;
}

// 三角形角标
.ico-panel {
  width: 0;
  height: 0;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  border-top: 6px solid #FFFFFF;
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 23px;
  transform: rotate(180deg);
  &.rotate{
    transform: rotate(0deg);
  }
  img {
    width: 100%;
    height: 100%;
  }
}

#optionPanel {
  //height: 20px;
  top: 6px;
  left: 0;
  border-radius: 4px;
  background: #ffffff;
  z-index: 9999;
  position: absolute;
  padding: 10px;
  box-sizing: content-box;

  .remark-panel{
    position: relative;
    .remark-input{
      border: 1px solid #D9DCE2;
      border-radius: 4px;
      height: 136px;
      width: 296px;
      padding: 8px 10px;
      &::placeholder {
        color: #BFBFBF;
        font-size: 14px;
        opacity: 1;
      }
    }
    .remark-span{
      position: absolute;
      right: 8px;
      bottom: 8px;
      font-size: 10px;
      color: #8C8C8C;
    }
  }

  .text-size-panel {
    width: 65px;
    height: 20px;
    font-size: 14px;
    float: left;
    border: 1px solid #bebfca;
    overflow: hidden;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-select-panel {
    width: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #fff;
    border: 1px solid #d8dcea;
    border-radius: 3px;
    position: absolute;
    left: 10px;
    top: -321px;

    .text-item {
      width: 45px;
      height: 20px;
      font-size: 14px;
      text-align: center;
      margin-bottom: 5px;
      cursor: pointer;

      &:hover {
        background: #bebfca;
      }

      &:first-child {
        margin-top: 5px;
      }
    }
  }

  .brush-select-panel{
    height: 20px;
    float: left;

    .item-panel {
      width: 20px;
      height: 20px;
      margin-right: 18px;
      float: left;

      &:first-child {
        margin-left: 2px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    .brush-small {
      background-size: cover;
      background-image: url("~@/assets/img/round-normal-small.png");

      &:hover {
        background-image: url("~@/assets/img/round-selected-small.png");
      }
      &:active {
        background-image: url("~@/assets/img/round-selected-small.png");
      }
    }
    .brush-small-active {
      background-image: url("~@/assets/img/round-selected-small.png");
    }

    .brush-medium {
      background-size: cover;
      background-image: url("~@/assets/img/round-normal-medium.png");

      &:hover {
        background-image: url("~@/assets/img/round-selected-medium.png");
      }
      &:active {
        background-image: url("~@/assets/img/round-selected-medium.png");
      }
    }
    .brush-medium-active{
      background-image: url("~@/assets/img/round-selected-medium.png");
    }

    .brush-big {
      background-size: cover;
      background-image: url("~@/assets/img/round-normal-big.png");

      &:hover {
        background-image: url("~@/assets/img/round-selected-big.png");
      }
      &:active {
        background-image: url("~@/assets/img/round-selected-big.png");
      }
    }

    .brush-big-active {
      background-image: url("~@/assets/img/round-selected-big.png");
    }
  }

  .right-panel {
    float: left;
    display: flex;
    align-items: center;
    margin-left: 39px;

    // 颜色容器
    .color-panel{
      width: 72px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      background: #FFFFFF;
      border: solid 1px #E5E6E5;
      border-radius: 5px;
      position: absolute;
      top: -225px;
      right: 28px;

      .color-item {
        width: 62px;
        height: 20px;
        margin-bottom: 5px;

        &:nth-child(1) {
          margin-top: 5px;
          background: #F53440;
        }
        &:nth-child(2) {
          background: #F65E95;
        }
        &:nth-child(3) {
          background: #D254CF;
        }
        &:nth-child(4) {
          background: #12A9D7;
        }
        &:nth-child(5) {
          background: #30A345;
        }
        &:nth-child(6) {
          background: #FACF50;
        }
        &:nth-child(7) {
          background: #F66632;
        }
        &:nth-child(8) {
          background: #989998;
        }
        &:nth-child(9) {
          background: #000000;
        }
        &:nth-child(10) {
          border: solid 1px #E5E6E5;
          background: #FEFFFF;
        }
      }
    }
    // 已选择容器
    .color-select-panel {
      width: 62px;
      height: 20px;
      background: #F53340;
      border: solid 1px #E5E6E5;

      &.text-select-status {
        margin-left: 31px;
      }
    }

    .pull-down-arrow {
      width: 15px;
      height: 8px;
      margin-left: 10px;
      background-size: cover;
      background-image: url("~@/assets/img/PopoverPullDownArrow.png");
    }
  }

}

#cutBoxSizePanel {
  //width: 85px;
  //height: 25px;
  border-radius: 4px;
  padding: 5px 8px;
  background: rgba(255,255,255,.4);
  font-size: 12px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

#textInputPanel {
  min-width: 20px;
  min-height: 20px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: absolute;
  outline: none;
  z-index: 9999;
  top: 0;
  left: 0;
  border: none;
}
.hidden-screen-shot-scroll {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.no-cursor * {
  cursor: none;
}
